{% for line in license.splitlines() %}#{% if line %} {{ line }}{% endif %}
{% endfor %}
# Metals{% for layer, resistance, capacitance in metals %}
set_layer_rc {{ '{{' }} corner {{ '}}' }} \
    -layer {{ layer }} \
    -capacitance {{ capacitance }} \
    -resistance {{ resistance }}{% endfor %}

# Vias{% for layer, resistance in vias %}
set_layer_rc {{ '{{' }} corner {{ '}}' }} \
    -via {{ layer }} \
    -resistance {{ resistance }}{% endfor %}
